.contenido{
    background: #122131;
    display: grid;


    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "imagen perfil";
}
.imagen{
    float: left;
    grid-area: imagen;
    display: flex;
    align-items: center;
}

.perfil{
    float: right;
    grid-area: perfil;
    display: grid;
    padding: 0px;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "p1 p2 p3";
}
.marvel{
  width: 360px;
  height: 160px;
}

.p1{
    float: right;
    grid-area: p1;
    display: grid;
    padding: 0px;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "img h5";

}
.p1 h5{
    margin-top: 10px;
}
.p2{
    display: grid;
    justify-content: end;
}
.p2 img{
    width: 60px;
    height: 60px;
    margin-top: 15px;
}

.lista{
  background: #145388;

}

.img_marvel{
height: 80px;
width: 80px;
}

.present img{
  height: 120px;
  width: 120px;
  border-radius: 25%;
  }

.section{
  scroll-margin-top: 8ex;
}

html{
  scroll-behavior: smooth;
}

.reglon{
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: #122131;
}

.reglon:hover{
  background: #5c87b6;
}

.reglon a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.estu{
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
}
.present{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 10px;
}
.present img{
  width: 70px;
  height: 70px;
}


